/* Projects */

.projects td {
  padding: 10px;
}

h4 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.table-sort{
  margin-bottom: 20px;
  margin-top: 20px;
}

.us-select-list{
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid lightgrey;
}

.login-box a {
  padding-top: 10px;
}

.register-box a {
  padding-top: 10px;
}

.sbcol {
  height: 500px;
}
